
.callout-container {
    height: 100vh;

    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Cat_reading_book_498102.jpg/640px-Cat_reading_book_498102.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-one {
  background-color: transparent;
}

.jumbotron-one h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.jumbotron-one .lead {
  color: #a7a7a7;
  margin: 25px 0;
}

.jumbotron-one small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}

#times {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Bredevoort_%28NL%29%2C_Antiquariat_--_2018_--_1836.jpg/640px-Bredevoort_%28NL%29%2C_Antiquariat_--_2018_--_1836.jpg') no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  padding: 15px;
  text-align: center;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid white;
}

#times h3 {
  color: #fafafa;
}