body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.callout-container {
    height: 100vh;

    background-image: url('/workspace/book-club/assets/images/bookcase.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron-one {
  background-color: transparent;
}

.jumbotron-one h1 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron-one .lead {
  color: #ffffff;
  margin: 25px 0;
}

.jumbotron-one small {
  font-size: 60%;
  font-style: italic;
  color: #ffffff;
}

#times {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Bredevoort_%28NL%29%2C_Antiquariat_--_2018_--_1836.jpg/640px-Bredevoort_%28NL%29%2C_Antiquariat_--_2018_--_1836.jpg') no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  padding: 15px;
  text-align: center;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid white;
}

footer {
  background-color: #ffffff;
  align-items: center;
  text-align:center;
  padding: 10px;
  position: static;
}

footer a {
  margin-left: 10px;
  margin: 0 10px;
  font-size: 44px;
}


form {
  background-color: #a7a7a7;
  border: 15px;
  border-style: double;
  border-color: black;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.when {
  background-color: #a7a7a7;
  text-align: center;
}

.hidden-heading {
  text-align: center;
  border-style: solid;
  border-color: #000000;
  background-color: #a7a7a7;
  color: #000000;
}

.custom-list {
  list-style: none;
  padding-left: 20px;
  text-indent: 5%;
}

.custom-list li::before {
  content: '\1F4D6';
  font-size: 20px;
  margin-right: 10px;
}

.about {
  text-align: center;
  border-style: solid;
  border-color: #000000;
  background-color: #a7a7a7;
  color: #000000;
}

.contact {
  padding: 20px;
}

.contact-title {
  background-color: #a7a7a7;
  text-align: center;
  border-style: solid;
  border-color: #000000;
}

body {
  background-color: #be3144;
}

.thanks {
  height: 50%;
  width: 100%;
  border: 10px;
  text-align: center;
  background-color: #a7a7a7;
}

.thanks .btn {
  color: #000000;
}

.contact .btn {
  color: #000000;
}